//debemos poner un guion para decirle que este archvo no lo va copilar solo va tomar los valores
//el archivo principal es el de app ordenamos el codigo para tener mas adminstracion 

//colores
$verde:#4CB8B3;
$rosa:#F53756;
$amarillo:#FEF46D;
$morado:#752F97;
$negro:#000000;
$blanco:#FFFFFF;


//tipografia
$fuente_principal:'Montserrat',sans-serif;

$Telefono:460px;
$Tablet:768px;
$Computadora:992px;
$ComputadoraXL:1200px;
//consejo poner bien los pixeles si no de dara dolor de huevos