@use 'base/variables' as b;
@use 'base/mixings' as m;
.boletos {
    padding: 5rem 0;
    h3 {
        text-align: center;
        color: b.$blanco;
        margin-bottom: 2rem;
    }
    #contenedor-boletos {
        @include m.Tablet {
        @include m.grid(2, 5rem); 
        margin:auto 2rem;                 

      }
    }
}
.pase {
    color: black;
    .nombre-pase {
        text-align: center;
        font-size: 2.8rem;
        color: b.$blanco;
    }
//la & es para hacer referencia al padre osea .pase asi no escribimos completa la classe
    &-header,
    &-footer  {
        padding: .5rem;
           p {
            text-align: center;
            color: b.$blanco;
            margin: 0;
        }
    }
    &-header {
        background-color: b.$rosa;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }

    &-body {
        background-color: b.$blanco;
        ul {
            @include m.resetear-lista;
            li, 
            :nth-child(odd) {
                background-color: b.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer {
        background-color: b.$morado;
        p {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}

